syq-rpc-framework/src/main/resources/META-INF/syq.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xsd:schema xmlns="http://www.antsing.top/schema/syq"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.antsing.top/schema/syq"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <!--<syq:producer interfac="cn.antsing.service.IUserService" ref="userService" />-->
    <xsd:element name="producer">
        <xsd:complexType>
            <!--<xsd:attribute name="ref" type="xsd:string" use="required"/>-->
            <xsd:attribute name="interfac" use="required" type="xsd:string"/>
            <xsd:attribute name="id" type="xsd:ID"/>
        </xsd:complexType>
    </xsd:element>

    <!--<syq:consumer id="userService" interfac="cn.antsing.service.IUserService" address="192.168.0.9:8089,192.168.0.9:8088"/>-->
    <xsd:element name="consumer">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:ID"/>
            <xsd:attribute name="address" type="xsd:string" use="required"/>
            <xsd:attribute name="interfac" use="required" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>